# Kopiraj ovaj fajl u .env i popuni vrednosti

# Meteor WebSocket server
METEOR_WSS_URL=wss://tvi.meteor.teaminoving2.rs

# Tvoji login podaci za TVI platformu
USERNAME=tvoje_korisnicko_ime
PASSWORD=tvoja_lozinka

# Tvoj korisnicki ID (vidljiv u WebSocket porukama kao engagedUserId)
USER_ID=rSFbpNT5nqkcLc3ba

# Cena po satu (iz tvog profila)
PRICE_PER_HOUR=2300

# Podrazumevani zadatak na koji se loguje vreme
# activities_id i requests_id naci u DevTools Messages kada rucno dodas vreme
DEFAULT_ACTIVITIES_ID=35320d26e114bbf2d8bc53b2
DEFAULT_REQUESTS_ID=98645f49f2646121077ce298
